body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}
body::after{
    background-image: url("/static/images/vending-machine-64.png");
    opacity: 0.1;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:-99;    
    background-size: repeat;    
}
a{
    text-decoration:none;
    color: black;
}
.page-title{
    height: 10%;
    /* background: url("/static/images/vend_title.jpg") 100% 0 no-repeat; */
    width: 96%;
    font-size: 40px;
    padding: 2%;
    padding-left: 5%;
    background-color: deepskyblue;
}
.page-content{
    display: flex;
    width: 100%;
    height: 900%;
    margin: 0;
    padding: 0;
    /* background-color: coral; */
    /* position:relative; */
    flex-direction: row;

}
.barlist{
    width:  8%;
    height: 100%;   
    padding: 1%;
    padding-left: 2%;
    position: relative 
}
.barlist div{
    margin-bottom: 1%;
}
.bar{
    height: 50px;
    /* width: 95%; */
    border:3px dodgerblue solid;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}

.bar:hover {
    background-color: dodgerblue;
    border-color: darkblue;  
}

.city {    
    height: 40px;
    line-height:40px;
    text-align: center;
    border:3px limegreen solid;
    border-radius: 8px;

}
.city:hover {
    background-color: limegreen;  
    border-color: darkgreen;  
}

.location {
    height: 30px;
    line-height:30px;
    text-align: center;
    border:3px orange solid;
    border-radius: 8px;
    background-color: rgba(255, 165, 0, 0.3);
    

}
.location:hover{
    background-color: orange;
    border-color: orangered;  
}

.extend-html{
    width: 80%;
    padding: 1%;
    padding-left: 5%;
    overflow: auto;
}

.citybar {
    display: none;
}

.citylist{
    display: none;
}